.task-tracker .counter {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.task-tracker .counter .hours-counter {
  width: fit-content;
  height: 50px;
  margin: 0 20px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
