.task-tracker {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2rem;
}

.task-tracker ul,
.task-tracker li {
  list-style-type: none;
}

.task-tracker h1 {
  text-align: center;
  font-size: 2rem;
  
}

.task-tracker .delete-completed-tasks-btn {
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;

}

.task-tracker .wait-message {
  padding-top: 20px;
  color: red;
}

.task-tracker .wait-message.hide {
  display: none;
}