.item {
  display: flex;
  justify-content: space-between;
}

.item .del-btn {
  font-size: 1.2rem;
  width: 70px;
  cursor: pointer;
}

.item .input-text {
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  color: white;
}

.item .input-text.true {
  text-decoration: line-through;
  color: gray;
}
